@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/StolzlLight.eot') format('eot');
  src: url('../fonts/StolzlLight.woff') format('woff');
  src: url('../fonts/StolzlLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/StolzlBook.eot') format('eot');
  src: url('../fonts/StolzlBook.woff') format('woff');
  src: url('../fonts/StolzlBook.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/StolzlBold.eot') format('eot');
  src: url('../fonts/StolzlBold.woff') format('woff');
  src: url('../fonts/StolzlBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
