// * { outline: 1px solid green; }

* {
  flex-shrink: 0;
}

body {
  @include font_Stolzl;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

// ---WRAPPER---

.wrapper {
  box-sizing: border-box;
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: $tablet) {
  .wrapper {
    width: 720px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile) {
  .wrapper {
    width: 290px;
    margin: 0 auto;
  }
}

// ---BASE---

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H10C10.6 0 11 0.4 11 1V10C11 10.6 10.6 11 10 11H1C0.4 11 0 10.6 0 10V1C0 0.4 0.4 0 1 0ZM6.5 7C6.8 7 7 6.8 7 6.5V4.5C7 4.2 6.8 4 6.5 4H4.5C4.2 4 4 4.2 4 4.5V6.5C4 6.8 4.2 7 4.5 7H6.5ZM13 18.5C13 15.5 15.5 13 18.5 13C21.5 13 24 15.5 24 18.5C24 21.5 21.5 24 18.5 24C15.5 24 13 21.5 13 18.5ZM17 18.5C17 19.3 17.7 20 18.5 20C19.3 20 20 19.3 20 18.5C20 17.7 19.3 17 18.5 17C17.7 17 17 17.7 17 18.5ZM23 0H14C13.4 0 13 0.4 13 1V10C13 10.6 13.4 11 14 11H23C23.6 11 24 10.6 24 10V1C24 0.4 23.6 0 23 0ZM20 6.5C20 6.8 19.8 7 19.5 7H17.5C17.2 7 17 6.8 17 6.5V4.5C17 4.2 17.2 4 17.5 4H19.5C19.8 4 20 4.2 20 4.5V6.5ZM1 13H10C10.6 13 11 13.4 11 14V23C11 23.6 10.6 24 10 24H1C0.4 24 0 23.6 0 23V14C0 13.4 0.4 13 1 13ZM6.5 20C6.8 20 7 19.8 7 19.5V17.5C7 17.2 6.8 17 6.5 17H4.5C4.2 17 4 17.2 4 17.5V19.5C4 19.8 4.2 20 4.5 20H6.5Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='12.9' x2='23.7333' y2='12.9' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF973D'/%3E%3Cstop offset='1' stop-color='%23FF5C5C'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    display: flex;
    align-items: flex-start;

    span:first-child {
      font-size: 22px;
      font-weight: bold;
      line-height: 22px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 5px;
    }

    span:last-child {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}

.submit {
  min-width: 160px;
  min-height: 55px;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  background: linear-gradient(90deg, #FF973D 0%, #FF5C5C 98.89%);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.submit_shadow {
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 55px;
    width: 160px;
    background: linear-gradient(90deg, #FF973D 0%, #FF5C5C 98.89%);
    opacity: 0.3;
    filter: blur(20px);
    border-radius: 10px;
  }
}

.input {
  min-width: 160px;
  min-height: 55px;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;

  &::placeholder {
    opacity: 0.7;
  }
}

.checkbox_input {
  display: none;

  &:checked + .checkbox_label:after {
    background: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.69391 1.85033C8.10194 1.42704 8.10194 0.740754 7.69391 0.317466C7.28589 -0.105822 6.62435 -0.105822 6.21633 0.317466L3.26117 3.38317L1.7836 1.85033C1.37558 1.42704 0.714042 1.42704 0.306018 1.85033C-0.102006 2.27362 -0.102006 2.9599 0.306018 3.38319L2.51747 5.67737C2.51909 5.67908 2.52072 5.68078 2.52236 5.68248C2.72637 5.89412 2.99376 5.99995 3.26116 5.99995C3.29806 5.99995 3.33496 5.99793 3.3717 5.9939C3.60116 5.96873 3.82412 5.86492 3.99998 5.68248C4.00164 5.68076 4.0033 5.67903 4.00495 5.67729L7.69391 1.85033Z' fill='white'/%3E%3C/svg%3E%0A"),
    linear-gradient(90deg, #FF973D 0%, #FF5C5C 98.89%);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.checkbox_label {
  position: relative;
  padding-left: 35px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, #FF973D 0%, #FF5C5C 98.89%);
    border-radius: 4px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, #FF973D 0%, #FF5C5C 98.89%);
    opacity: 0.3;
    filter: blur(6px);
    border-radius: 4px;
  }
}

.title {
  margin: 0;
  font-size: 30px;
  line-height: 122%;
  color: #30394F;
}

.text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #30394F;
  opacity: 0.7;
}

// ---SELECT2---

.select2-container .select2-selection--single {
  height: 55px;
  border: none;
}

// .select2-container .select2-selection--single:focus {
//    outline: 1px solid #135D75;
// }

.select2-container .select2-selection--single .select2-selection__rendered {
  height: 55px;
  padding-left: 20px;
  font-size: 13px;
  @include font_Stolzl;
  font-style: normal;
  font-weight: normal;
  color: rgba(48, 57, 79, 0.5);
  line-height: 55px;
  background-color: #F5F8FC;
  border-radius: 10px;
}

.select2-dropdown {
  margin-top: 5px;
  background-color: #F5F8FC;
  border: none;
  border-radius: 10px;
}

.select2-results__option {
  border-radius: 0;
  padding-left: 16px;
}

.select2-results__options {
  padding: 5px 0;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  font-size: 13px;
  @include font_Stolzl;
  font-style: normal;
  font-weight: normal;
  color: rgba(48, 57, 79, 0.5);
}

.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option[aria-selected="false"] {
  background-color: #F5F8FC;
  color: rgba(48, 57, 79, 0.5);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #F5F8FC;
  color: rgba(48, 57, 79, 0.8);
}

.select2-search--dropdown {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 9px;
  height: 5px;
  position: absolute;
  top: calc(50% - 3px);
  right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  height: 5px;
  width: 9px;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.146393 0.146461C-0.0487976 0.341713 -0.0487976 0.658302 0.146393 0.853554L3.68192 4.38911C3.70633 4.41352 3.7327 4.43485 3.76041 4.45316C3.9545 4.58131 4.21817 4.55994 4.38907 4.38911L7.92459 0.853584C8.1199 0.658302 8.1199 0.341743 7.92459 0.146461C7.7294 -0.04879 7.41275 -0.04879 7.21756 0.146461L4.03555 3.32847L0.853546 0.146461C0.658234 -0.0488205 0.341705 -0.0488205 0.146393 0.146461Z' fill='%23C4C4C4'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  height: 5px;
  width: 9px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border: none;
}

.select2-container--open .select2-dropdown--below {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
